            /****** The base styles******/

* {
	box-sizing: border-box;
}

body {
	 font-family: "Comic Sans MS", cursive, sans-serif;
}

h1 {

	margin-bottom: 50px;
	text-align: center;
}

section {

	background-color: khaki;
	border: 1px solid black;
	width: 95%;
  	margin-right: auto;
 	margin-left: auto;
 	margin-bottom: 15px;
}

#chicken, #beef, #sushi {

	float: right;
	width: 35%;
	padding: 5px;
	font-size: 125%;
	font-weight: bold;
	text-align: center;
	border: 1px solid black;
	border-top: none;
	border-right: none;
}

#chicken {
	background-color: salmon;
}

#beef {
	background-color: teal;
	color:white;
}

#sushi {
	background-color: yellow;
}

p {

	clear: right;
	padding: 10px;
	font-weight: bold;
}



         /*******Responsive Framwork*******/
.row {

	width: 100%;
}

          /******Responsive large (Desktop view)********/
@media (min-width: 992px) {

	.col-lg-3 {
		float: left;
		width: 33.33%
	}
}

         /*******Responsive Medium (Tablet view)*******/
@media (min-width: 768px) and (max-width: 991px) {

	.col-md-6, .col-md-12 {
		float: left;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-12 {
		width: 100%;
	}
}

         /********Responsive Small (Mobile view)********/
@media (max-width: 767px) {

	.col-sm-12 {
		float: left;
	}
	.col-sm-12 {
		width: 100%;
	}
}